# Virtual Environment
.venv/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
CACHEDIR.TAG

# Sensitive Credentials & API Keys (DO NOT COMMIT)
client_secrets.json
client_secret*.json
*.json
.env

# Generated OAuth Tokens
token.pickle
token.json

# Allow music folder and audio files so GitHub can use them
!music/
!music/*.mp3

# Ignore processed videos (so you don't commit downloaded MP4 files)
*.mp4

# OS & Editor Files
.DS_Store
.vscode/
.idea/